# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Github Provider
# Your GitHub OAuth credentials.
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"

# Next Auth Google Provider
# Your Google OAuth credentials.
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Next Auth Discord Provider
# Your Discord OAuth credentials.
DISCORD_CLIENT_ID="your-discord-client-id"
DISCORD_CLIENT_SECRET="your-discord-client-secret"

# The base URL of your app.
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Your database connection string.
DATABASE_URL="your-database-url"

# Your Resend API key.
RESEND_API_KEY="your-resend-api-key"

# 100ms access credentials
# The endpoint for the 100ms API.
TOKEN_ENDPOINT="https://api.100ms.live/v2"

# Your 100ms template ID.
TEMPLATE_ID="your-template-id"

# Your 100ms access key.
ACCESS_KEY="your-access-key"

# Your 100ms app secret.
APP_SECRET="your-app-secret"


